@mixin mask-icon($src, $w, $h: $w) {
	display: inline-block;
	width: $w;
	height: $h;
	mask-image: url($src);
	-webkit-mask-image: url($src);
	background-color: currentColor;
	mask-size: 100%;
	-webkit-mask-size: 100%;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
}

@mixin icon($src, $w, $h: $w) {
	display: inline-block;
	width: $w;
	height: $h;
	background-image: url($src);
	background-repeat: no-repeat;
	background-size: 100%;
}

@mixin dont-break-out() {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;
}

@mixin text-ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@mixin slide {
	transform: translate3d(0, 0, 0);
	position: absolute;
	transition: .4s;
	width: 100%;
}
