body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.logo-img {
    width: 120px;
    height: auto;
}

.navbar {
    justify-content: space-between !important;
    width: 100%;
}

.center-button {
    justify-content: space-around !important;
}

.card-container {
    justify-content: space-evenly !important;
}

.el-header {
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}

.el-header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.el-header img {
    margin-top: 7px;
}

#app {
    min-height: 100vh;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    color: #1f2f3d;
    margin-top: 0;
    margin-left: 12.5px;
}

.payer-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payer-sync {
    font-size: 11px;
    height: 42px;
}

.payer-delete-button {
    top: 10px;
    right: 5px;
}

.payer-sync-button {
    top: 45px;
    right: 1px;
}

.payer-sync-button, .payer-delete-button {
    position: absolute;
    padding: 6px !important;
    border: none;
}

.payer-card.add:hover {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
}

.payer-card.add .el-card__body {
    text-align: center;
    cursor: pointer;
}

.payer-card.add .payer-name {
    height: auto;
}

.payer-card.add .el-icon-plus {
    line-height: 74px;
    font-size: 32px;
}

.el-table .cell, .el-table th > .cell {
    padding-left: 20px;
    padding-right: 20px;
    word-break: break-word;
}

.el-table th > .cell {
    white-space: nowrap;
    color: #606266;
}

.el-tabs--border-card > .el-tabs__content {
    padding-left: 0;
    padding-right: 0;
}

.el-page-header__left {
    margin-bottom: 20px;
}

.el-page-header__left::after {
    background: none;
}

.patient-info-card {
    width: 100%;
}

.patient-info-label {
    font-size: 9px;
}

.patient-info-field {
}

.patient-info-data {
    font-size: 14px;
}

.patient-info-data > div {
    padding: 3px 5px;
    height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.encounters-table .el-table__row {
    cursor: pointer;
}

.new-payer-form {
    display: flex;
    flex-direction: column;
}

.new-payer-form .el-radio {
    height: 40px;
    display: flex;
    align-items: center;
}

.new-payer-form .el-radio__label {
    display: flex;
    align-items: center;
}

.new-payer-form .el-button--primary {
    margin-top: 20px;
}

.new-payer-dialog .el-dialog__body {
    padding-top: 10px;
}
