@import "~@/assets/scss/abstracts/variables";

.el-button {
	min-width: 100px;
	min-height: 40px;

	&.btn-copy {
		min-height: 15px;
	}

	&:hover,
	&:focus {
		color: $global-text-color;
		border-color: $global-primary-color;
		background-color: $global-background;
		box-shadow: $global-box-shadow;
	}

	&.is-disabled {
		&,
		&:hover,
		&:focus {
			color: $global-text-muted-color;
			border: $global-base-border;
			box-shadow: none;
		}
	}

	&--small {
		min-width: 125px;
		min-height: 25px;
	}
}
